<div class="jumbotron text-center text-white bg-dark">
  <p class="lead mb-1">작성자 정보</p>
  <h1 class="display-4">{{ person.username }}</h1>
  <hr>
  {% with followings=person.followings.all followers=person.followers.all %}
    <p class="lead" >
      <span id="follow-count-{{ person.pk }}">
        팔로잉 : {{ followings|length }} / 팔로워 : {{ followers|length }}
      </span>
    </p>
    <!-- 팔로우 버튼 -->
    {% if request.user != person %}
      <form class="follow-form" data-user-id="{{ person.pk }}">
        {% csrf_token %}
        {% if request.user in followers %}
          <button class="btn-secondary btn-lg" role="button">Unfollow</button>
        {% else %}
          <button class="btn-primary btn-lg" role="button">Follow</button>
        {% endif %}
      </form>
    {% endif %}
  {% endwith %}
</div>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
  const forms = document.querySelectorAll('.follow-form')
  const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value

  forms.forEach(function (form) {
    form.addEventListener('submit', function (event) {
      event.preventDefault()

      const userId = event.target.dataset.userId
      
      console.log(userId)
      axios.post(`http://127.0.0.1:8000/accounts/follow/${userId}/`, {}, {headers: {'X-CSRFToken': csrftoken}
      }).then(function (response) {
        const followed = response.data.followed
        const followings = response.data.followings
        const followers = response.data.followers
        
        const followButton = document.querySelector(".follow-form > button")
        if (followed) {
          followButton.innerText = 'Unfollow'
        } else {  
          followButton.innerText = 'Follow'
        }

        const followCount = document.querySelector(`#follow-count-${ userId}`)
        followCount.innerText = `팔로잉: ${followings} / 팔로워: ${followers}`
        console.log(followers)
        console.log(followings)
      })

    })
  })
</script>