{% load static %}

<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>영화모아</title>
  <link rel="icon" href="{% static 'img/icons/favicon.ico' %}">

  <!-- CSS  -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/et-lineicon.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
  <link href='http://fonts.googleapis.com/css?family=Roboto:400,500,400italic,500italic,700' rel='stylesheet' type='text/css'>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="{% static 'css/materialize.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{% static 'css/style.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>        

{% block banner %}
{% endblock %}

  {% comment %} <div class="container">

    {% block content %}
    {% endblock %}

  </div>  {% endcomment %}
  <footer class="page-footer black">
    <div class="container center-align">
      <i class="fa fa-github"></i> Made by <a style="text-decoration: none" class="brown-text text-lighten-3" href="https://github.com/zero-bacteria"> zero-bacteria</a> &
      <a style="text-decoration: none" class="brown-text text-lighten-3" href="https://github.com/ssabum">ssabum</a><br><br>
    </div>
  </footer>

  <!--  Scripts-->
  <script src="{% static 'js/jquery.min.js' %}"></script>
  <script src="{% static 'js/jquery.lwtCountdown-1.0.js' %}"></script>
  <script src="{% static 'js/jquery.stellar.min.js' %}"></script>
  <script src="{% static 'js/jquery.nicescroll.min.js' %}"></script>
  <script src="{% static 'js/animated.js' %}"></script>
  <script src="{% static 'js/main.js' %}"></script>
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script src="{% static 'js/materialize.js' %}"></script>
  <script src="{% static 'js/init.js' %}"></script>
  {% block script %}{% endblock script %}

  </body>
</html>
