{% extends 'base_index.html' %}
{% load static %}

{% block css %}
.community {
  position: absolute;
  left: 0;
}
{% endblock %}

{% block banner %}

  <div class="animationload">
      <div class="loader">
          Loading...
      </div>
  </div>
  {% comment %} <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h1 class="header center white-text text-lighten-2">Find your favorite movie</h1>
              <div class="row">
              <form class="col s12">
                <div class="row">
                  <div class="input-field col s12">
                    <textarea typ="submit" id="textarea1" name="q" value="{{ request.GET.q }}" class="materialize-textarea white-text"></textarea>
                    <label for="textarea1">Search</label>
                  </div>
                  <button type="submit" name="action" class="waves-effect waves-light btn"><i class="material-icons left">search</i>Search</button>
                  <button class="tooltipped waves-effect waves-light btn" type="submit" name="action" data-position="bottom" data-tooltip="한글검색도 가능합니다"><i class="material-icons left">search</i>Search</button>
                </div>
              </form>
            </div>
        </div>
        <br><br>
      </div>
    </div>
    <div class="parallax"><img src="{% static 'img/back.jpg' %}" alt="Unsplashed background img 1"></div>
  </div> {% endcomment %}

  <section id="home">
    <div class="content">
      <ul id="dropdown1" class="dropdown-content">
        {% if user.is_authenticated %}
        <li><a href="{% url 'profile' user.username %}">프로필</a></li>
        <li><a href="{% url 'change-password' %}">비밀번호 변경</a></li>
        <li class="divider"></li>
        <li><a href="{% url 'logout' %}">로그아웃</a></li>
        {% endif %}
      </ul> 
      <div class="nav-wrapper" style="margin-right: 15px">
        <ul class="right hide-on-med-and-down">
        <a class ="community white-text" href="{% url 'community:index' %}"><img src="{% static 'img/comm5.png'%}" alt=""></a>
        {% if user.is_authenticated %}
          <li><a class="dropdown-trigger white-text" href="#!" data-target="dropdown1">{{ user.username }}<i class="material-icons right">arrow_drop_down</i></a>  
        {% else %}
          <li><a class="white-text" href="{% url 'login' %}">로그인</a></li>
        {% endif %}
          </li>
        </ul>
      </div>
      <div id="large-header" class="large-header">
        <canvas id="demo-canvas"></canvas>
        <div id="countdown_dashboard" class="home-main container">
            <div class="row">
                <div class="logo">
                    <img src="{% static 'img/yeongcha_logo.png' %}" alt="logo">
                    {% comment %} <p>세상의 모든 영화를 담아</p> {% endcomment %}
                </div>
            </div>
            <div class="row">
                <!-- DAYS -->
                <div class="col-md-3 col-sm-3 col-xs-6 dash-glob" data-scroll-reveal="enter bottom move 25px, after 0.3s">
                    <div class="dash days_dash">
                        <div class="number tooltipped" data-position="bottom" data-tooltip="세계 매출액">124</div>
                    </div>
                </div>
                <!-- HOURS -->
                <div class="col-md-3 col-sm-3 col-xs-6 dash-glob" data-scroll-reveal="enter bottom move 25px, after 0.3s">
                    <div class="dash hours_dash">
                        <div class="number tooltipped" data-position="bottom" data-tooltip="작년 매출액">5104</div>
                    </div>
                </div>
                <!-- MINUTES -->
                <div class="col-md-3 col-sm-3 col-xs-6 dash-glob" data-scroll-reveal="enter bottom move 25px, after 0.3s">
                    <div class="dash minutes_dash">
                      <div class="number tooltipped" data-position="bottom" data-tooltip="전국 극장수">474</div>
                    </div>
                </div>
                <!-- SECONDS -->
                <div class="col-md-3 col-sm-3 col-xs-6 dash-glob" data-scroll-reveal="enter bottom move 25px, after 0.3s">
                    <div class="dash seconds_dash">
                        <div class="number tooltipped" data-position="bottom" data-tooltip="작년 총 관객수">5952</div>
                    </div>
                </div>
            </div> <!-- END ROW -->
            <br>
            <form class="col s12">
              <div class="row">
                <div class="input-field col s12">
                  <input type="text" id="textarea1" name="q" value="{{ request.GET.q }}" class="materialize-textarea white-text"></input>
                  <label for="textarea1">Search</label>
                </div>
                <button class="tooltipped waves-effect waves-light btn red" type="submit" name="action" data-position="bottom" data-tooltip="한글로도 검색 가능"><i class="material-icons left">search</i>Search</button>
              </div>
            </form>

        </div> <!-- END COUNTDOWN -->
      </div> <!-- LARGE HEADER -->
    </div> <!-- END CONTENT -->
  </section>

{% endblock %}
{% block script %}
<script>
  $('form input').keydown(function(e) {
    if (e.keyCode == 13) {
        $('form').submit();
    }
  });
</script>  
{% endblock %}
